<!DOCTYPE html>
{% load static %}
{% block title %}
articles
{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>articles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>it is the articles list</h1>
    <a href="{% url 'articles:list' %}">LOGO</a>
    {% for article in listArticles %}
    <h2>
        <a href="{% url 'articles:details' slug=article.slug %}">{{article.title}}</a>
    </h2>
    <p>{{article.snippet}}</p>
    <p>{{article.date}}</p>
    {% endfor %}
</body>
</html>