<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
    <H1>{{ article.title }}</H1>
    <img src="{{ article.image.url }}", alt="">
    <h2>{{ article.slug }}</h2>
    <p>{{ article.body }}</p>
    <h3>{{ article.date }}</h3>
    <nav>

        <ul>

            <li>
                <form method="post" action="{% url 'accounts:logout' %}">
                    <input type="submit" value="logout">
                </form>
            </li>

        </ul>

    </nav>
</body>
</html>